/* ============ RESET ============ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid rgba(229, 25, 25, 0) !important;
}

/* ============ GENERAL ============ */
body {
    background: #262626;
}

a,
p {
    list-style: none;
    text-decoration: none;
    color: black;
}

/* ============ HEADER ============ */
.header-sticky {
    width: 100%;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.navbar-container {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.btn-carrito {
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    height: 45px;
    margin-right: 15px;
}


.searchBox {
    height: 50px;
    margin-top: 5px;
    width: 300px;
    text-align: center;
}

/* ============ MAIN ============ */
.carousel {
    margin-top: 20px;
}

/* ============ CARRITO ============ */

.carrito {
    width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 50px;
    background: white;
    transition: 1.5s;
    color: black;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    transition: all 0.5s;
    border: 5px solid black;
}

.carrito.activo {
    right: 0;
    transition: .5s;
}

.header-carrito {
    display: grid;
}


.titulo-carrito {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contador {
    font-weight: bold;
    color: white;
}

.productos {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.img-producto-carrito {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    /**/
    object-fit: cover;
}

.detalles-producto {
    display: grid;
    text-transform: uppercase;
}

.carrito-nombre-producto {
    font-size: 1rem;
    text-transform: uppercase
}

.carrito-precio-producto {
    font-weight: 500;
}

.carrito-cantidad {
    border: 1.5px solid black;
    width: 4rem;
    text-align: center;
    font-size: 1rem;
}

.carrito-btn-eliminar {
    font-size: 24px;
    cursor: pointer;
    height: 30px;
}

.total {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.titulo-total {
    font-size: 1rem;
    font-weight: bold;
}

.total-precio {
    margin-left: 0.5rem;
}

.btns-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.btn-comprar {
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn-vaciar,
.btn-comprar {
    font-weight: bold;
    background-color: #000000;
    color: white;
    border-style: none;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    transition: 0.5s;
}

.btn-comprar:hover {
    border: 2px solid black;
    background-color: rgb(0, 227, 144);
    color: black;
    transition: 0.5s;
}

.btn-vaciar {
    background-color: white;
    color: #000000;
    border: 1px solid black;
    transition: 0.5s;

}

.btn-vaciar:hover {
    background-color: red;
    color: white;
    transition: 0.5s;

}

.cerrar-carrito-btn {
    position: absolute;
    right: 0.8rem;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    border: none;
}


/* ============ PAGO ============ */


.finalizar-compra {
    width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    transition: all 0.5s;
    border-left: 2px solid rgb(0, 0, 0);
    background-image: url(../img/home/fondo-compra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
}

.finalizar-compra.activo {
    right: 0;
    transition: .5s;
}

.header-finalizar-compra {
    margin-top: 20px;
    display: grid;
    color: black;
    justify-content: center;
    align-items: center;
}

.titulo-fincompra {
    font-size: 25px;
}



.formulario-pago{
    margin: 25px;
}
.procesar_pago {
    background-color: #2626268c;
    border: 2px solid rgba(255, 255, 255, 0.426);
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0px;

}

.procesar_pago label {
    display: block;
    background: none;
    border: none;
    color: rgb(138, 138, 138);
    font-size: 16px;
    font-weight: bold;
}

.procesar_pago input {
    font-weight: bold;
    display: grid;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.426);
    text-align: center;
    padding: 10px;
    width: 100%;
    color: white;
}

.pagar .cuotas-pagar, select {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.btn-pagar {
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;

}

.btn-pagar:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}


.pago {
    margin-top: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.total-compra{
    background-color: rgb(0, 227, 144);
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}


.cerrar-compra-btn {
    position: absolute;
    right: 0.8rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    border: none;
}

/* ============ PRODUCTOS ============ */
.div-frase-inicio {
    margin: 5px 0px 5px 0px;
    text-align: center;
    font-weight: bold;
}

h1,
.frase-inicio {
    color: white;
}



.container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 15px;

}

.card {
    display: grid;
    grid-template-columns: 100%;
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    align-items: center;
    border: 1px solid black;

}

.card:hover {
    border: 3px solid orangered;
}


.card a img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}


.card-name,
.precio,
.total {
    font-size: 18px;
    font-weight: bold;
    color: #262626;
}

.precio {
    display: flex;
    margin-left: 5px;
}

.card-name {
    border-bottom: 1px solid black;
}


.buttonAgregar {
    background-color: orangered;
    color: black;
    border-style: none;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;

}

.buttonAgregar:hover {
    border: 2px solid black;

}


/* ============ FOOTER ============ */
footer {
    background-color: black;
    position: relative;
    padding: 10px;
    font-size: 15px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-items: center;
}

.medios-de-pago-padre {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.medios-de-pago-p {
    color: white;
    margin-top: 5px;
    font-weight: bold;
}

.redes-sociales {
    margin-top: 5px;
    width: 100%;
    gap: 2rem;
    text-align: center;
    color: white;
}

.social-icons {
    gap: 1.5rem;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.icon {
    margin: 5px;
    height: 30px
}

.newsletterPadre {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.newsletterSuscripcion {
    margin-bottom: 10px;
}

.newsletter {
    color: white;
}

input {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.buttonNewsletter {
    font-weight: bold;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.buttonNewsletter:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.divCopyright {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

/* ============ MEDIA QUERIES ============ */

@media screen and (min-width:1024px) {
    .container {
        padding-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        left: 10px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px 35px;
    }


    .carrito,
    .finalizar-compra {
        width: 455px;
    }

    .img-producto-carrito {
        object-fit: cover;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
    }

    .divCopyright {
        display: grid;
        grid-column: span 3;
    }
}